/* style for header */
.header{
	display:flex;
	justify-content:space-between;
	background-color:#aaaaaa;
	padding:20px;
	height:25%;
	border-radius:5px;
}

/* style for footer */
.footer{
	
	background-color:#20263e;
	padding:10px;
	color:white;
}
/* style for profile picture */
.propic{
	border-radius:100%;
	height:80px;
	width:80px;
}