/* style for header */
.header{
	display:flex;
	justify-content:space-between;
	background-color:#aaaaaa;
	padding:20px;
	height:25%;
	WIDTH:100%;
	border-radius:5px;
}
@media(max-width:375px;){
	.header{
	display:flex;
	justify-content:space-between;
	background-color:#aaaaaa;
	padding:20px;
	height:25%;
	WIDTH:100%;
	border-radius:5px;
	flex-direction:column;
	}
}
/* style for footer */
.footer{
	background-color:#20263e;
	padding:10px;
	color:white;
	WIDTH:100%;
}
/* style for profile picture */
.propic{
	border-radius:100%;
	height:80px;
	width:80px;
}
.maindiv{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	gap:20px;
}
@media(max-width:375px;){
	.maindiv{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	flex-direction:column;
	}
}
.subdiv{
	background-color:lightblue;
	height:25%s
	border:3px;
	padding:20px;
	align-items:center;
}
